body {
  min-height: 100vh;
  background-color: #13afda;
  background-image: linear-gradient(90deg, #13afda 0%, #1fc3b4 100%);
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
.main {
  flex-grow: 1;
}
.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
.header__container {
  max-width: 1200px;
  padding: 60px 10px;
  margin: 0 auto;
}
.header__top {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  left: 0;
}
.menu {
  margin: 30px;
}
.menu__list {
  display: flex;
  justify-content: space-evenly;
}
.menu__list-link {
  color: #ffff;
  cursor: pointer;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 25px;
  text-decoration: none;
}
.header__content-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background: linear-gradient(109.59deg, rgba(55, 54, 54, 0.4) -6.12%, rgba(188, 188, 188, 0) 108.03%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  border-radius: 25px;
  position: relative;
}

.header__title,
.header__subtitle {
  color: #ffff;
  padding-bottom: 10px;
  border-bottom: 2px solid #ffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__content-img {
  border-radius: 10px;
  max-width: 200px;
  object-fit: cover;
  position: relative;
}
.header__content-bottom::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -30px;
  width: 150px;
  height: 100px;
}
.header__content-bottom::before {
  background-image: url("../images/cloud_b.png");
}
.header__content-bottom::after {
  content: "";
  position: absolute;
  top: 120px;
  width: 205px;
  height: 175px;
  right: -20px;
}
.header__content-bottom::after {
  background-image: url("../images/Union.png");
}
.contacts__title,
.skills__title,
.presentation__title {
  color: #ffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  margin-bottom: 20px;
}
.contacts__items {
  margin-bottom: 10px;
}
.contacts__item,
.skills__list-items,
.presentation__text,
.code__title {
  font-size: 25px;
  line-height: 40px;
  border-bottom: 2px solid #ffff;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skills {
  margin-bottom: 120px;
}
.presentation {
  margin-bottom: 120px;
}
.presentation__span {
  font-size: 30px;
  color: #ffff;
}
.code {
  margin-bottom: 120px;
}
.code__exemple {
  border-radius: 25px;
  background: linear-gradient(109.59deg, rgba(55, 54, 54, 0.4) -6.12%, rgba(188, 188, 188, 0) 30.03%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
.foter__content-item--year {
  font-size: 30px;
  font-weight: 600;
  color: #ffff;
}
#Layer_1 {
  width: 200px;
  height: 200px;
}
